<mat-card class="card">
  <mat-card-header>
    <img
      mat-card-image
      [src]="friendlyGnome.thumbnail"
      [alt]="friendlyGnome.name"
    />
  </mat-card-header>
  <mat-card-content>
    <h2>{{ friendlyGnome.name }}</h2>
    <p>
      Age: <span>{{ friendlyGnome.age }}</span>
    </p>
    <div class="icons">
      <button mat-icon-button>
        <mat-icon [matBadge]="friends" matBadgeColor="primary"
          >sentiment_satisfied_alt</mat-icon
        >
      </button>
      <button mat-icon-button>
        <mat-icon [matBadge]="professions">work_outline</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
