<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav role="navigation">
    <p>Sidenav content</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <div>
        <button (click)="sidenav.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">GnomeStory</a>
      </div>
      <span class="flex-spacer"></span>
      <div class="navigation-items">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/search']">Search</a>
      </div>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
